@model SATProject.DATA.Enrollment

@{
    ViewBag.Title = "Enrollment Details";
}

<h1 class="mt-4">@ViewBag.Title</h1>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.fullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.fullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduledClass.classInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduledClass.classInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduledClass.InstructorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduledClass.InstructorName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnrollmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
