@model IEnumerable<SATProject.DATA.Enrollment>

@{
    ViewBag.Title = "Enrollments";
}

<h1 class="mt-4">@ViewBag.Title</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollmentDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.EnrollmentId }) |
            @Html.ActionLink("Details", "Details", new { id = item.EnrollmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EnrollmentId })
        </td>
    </tr>
}

</table>
