@model IEnumerable<SATProject.DATA.ScheduledClass>

@{
    ViewBag.Title = "Scheduled Classes";
}

<h1 class="mt-4">@ViewBag.Title</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cours.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduledClassStatus.SCSName)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cours.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduledClassStatus.SCSName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ScheduledClassId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ScheduledClassId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ScheduledClassId })
        </td>
    </tr>
}

</table>
