@model IEnumerable<SATProject.DATA.Student>

@{
    ViewBag.Title = "Students";
}

<h1 class="mt-4">@ViewBag.Title</h1>

<a href=@Url.Action("Grid", "Students") class="btn btn-primary" style="width: 120px; float: right;">Grid View</a>

<p class="mb-5">
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
    </p>

<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Major)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentStatus.SSName)
            </th>
                <th>Actions</th>
            </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Major)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentStatus.SSName)
                </td>
                <td>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) @:|
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.StudentId })
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        @:| @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

